<div class="row">
  <div class="col-md-12">
    <button
      (click)="startClock()"
      class="btn btn-primary">Start</button>
    <button
      (click)="stopClock()"
      class="btn btn-primary">Stop</button>
    <button
      (click)="resetClock()"
      class="btn btn-primary">Reset</button>
    <p>
      <label>Start: </label>
      {{ this.globalStartedAt | date : 'HH:mm:ss' }}
      <br>
      <label>Duration: </label>
      {{ this.getGlobalDuration() | date : 'HH:mm:ss' : 'UTC'}}
    </p>
    <button
      (click)="nextTopic()"
      class="btn btn-primary">Nächstes Thema (Runde)</button>
  </div>
</div>
