<div class="card">
  <div class="card-header">
    <button
      (click)="nextTopic()"
      class="btn btn-primary">Next Topic</button>
  </div>
  <div class="card-block">
    <div class="card-title">
      Time Tracker
    </div>
    <div class="card-text">
      <label>Start: </label>
      {{ this.globalStartedAt | date : 'HH:mm:ss' }}
      <br>
      <label>Duration: </label>
      {{ this.getGlobalDuration() | date : 'HH:mm:ss' : 'UTC'}}
    </div>
  </div>
  <div class="card-footer">
    <button
      (click)="startClock()"
      class="btn btn-primary">Start</button>
    <button
      (click)="stopClock()"
      class="btn btn-primary">Stop</button>
    <button
      (click)="resetClock()"
      class="btn btn-primary">Reset</button>
  </div>
</div>
