<header class="header-6">
  <div class="branding">
    <a href="..." class="nav-link">
      <!-- stop watch icon -->
      <span class="title">Time Tracker</span>
    </a>
  </div>
  <div class="header-actions">
    <a href="#" class="nav-link nav-icon">
      <!-- User Icon -->
      <div
        appDropdown
        class="dropdown bottom-right open">
        <button type="button" class="dropdown-toggle">
          <!--<clr-icon shape="error" class="is-error" size="24"></clr-icon>-->
          <!--<clr-icon shape="caret down"></clr-icon>-->
          Menu
        </button>
        <div class="dropdown-menu">
          <button
            (click)="signIn()"
            class="btn btn-primary">Sig In</button>
          <button
            (click)="signOut()"
            class="btn btn-primary">Sig Out</button>
        </div>
      </div>
    </a>
  </div>
</header>

<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">User Profile</a>
    </li>
  </ul>
</nav>

