<header class="header-6">
  <div class="branding">
    <a href="..." class="nav-link">
      <!-- stop watch icon -->
      <span class="title">Time Tracker</span>
    </a>
  </div>
  <div class="header-actions">
    <a href="#" class="nav-link nav-icon">
      <!-- User Icon -->
    </a>
  </div>
</header>

<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">User Profile</a>
    </li>
  </ul>
</nav>

